#game-display-div {
    border: 0.1mm rgb(214, 209, 209) solid;
    border-radius: 25px;
    width: 60vw;
    height: 60vh;
    margin: 50px 0;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    box-shadow: 0px 5px 0px #D0951A;
    
}

.current-date {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    font-size: x-large;
    justify-self: center;
    align-self: flex-end;
    font-family: monospace;
    font-style: italic;
    color: gray;
}

.timer {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-size: xxx-large;
    justify-self: center;
    align-self: flex-start;

}

.result {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    max-height: 375px;

}

.team-one {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.team-two {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}


.controls {
    grid-area: 4 / 5;
    grid-column: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

}

.controls button {
    width: 40px;
    height: 40px;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    border: 0.1mm rgb(214, 209, 209) solid;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 3px 0px #D0951A;
    cursor: pointer;
}

.controls button:hover {
    box-shadow: 0px 2px 0px #D0951A;
    transition: all 400ms;
}

.team-one,
.team-two,
.controls {
    justify-self: center;
    align-self: center;
}

.team-one,
.team-two {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-one p,
.team-two p {
    font-size: xx-large;
    font-weight: bold;
    margin: 0;
}

.team-one img,
.team-two img {
    width: 200px;
    height: 200px;
    margin: auto 0;
}

.controls .reset-button {
    font-size: 30px;
}